h1 {
color: #ffffff; font-family: ‘Raleway’,sans-serif; font-size: 62px; font-weight: 800;
 line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
}
img.background {
  min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  @media screen and (max-width: 640px){
	img.bg {
	  left: 50%;
	  margin-left: -320px;
	}
  }
}
a {
  background-color: rgba(205, 214, 219, 0.3);
  box-shadow: 0 5px 0 rgba(205, 214, 219, 0.5);
  color: white;
  padding: 5em 5em 5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: rgba(205, 214, 219, 0.5);
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

/* Non-Demo Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
