<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header>
    <ul>
    {% for regs in all_regs %}
        <br><br><br><br><br><br>
        {% for reg in regs %}
            <a href="/regions/{{ reg }}">{{ reg }}</a>
        {% endfor %}
        <br><br><br><br><br><br>
    {% endfor %}
    </ul>
</header>
</body>
</html>